
.dart_tool
.idea

android/.gradle
android/.kotlin
android/app/src/debug
android/app/src/profile
android/app/src/main/java
android/app/src/main/kotlin
android/app/src/main/res
android/build
android/gradle/wrapper
android/.gitignore
android/build.gradle
android/gradle.properties
android/gradlew
android/gradlew.bat
android/local.properties
android/sparkapp_android.iml

build
ios
linux
macos
test
windows
.flutter-plugins
.flutter-plugins-dependencies
.metadata
analysis_options.yaml
pubspec.lock
sparkapp.iml